.git
.gitignore
.env
.env.backup
.phpunit.result.cache
node_modules
npm-debug.log
yarn-error.log
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
